/* You can add global styles to this file, and also import other style files */

.bg-linear-purple {
  background-image: linear-gradient(-30deg, #C86DD7 0%, #3023AE 100%);
}

.h-90vh {
  height: 90vh;
}

.h-10vh {
  height: 10vh;
}

.h-420px {
  height: 420px;
}

.w-320px {
  width: 320px;
}

.v-spacer-grey {
  height: 32px;
  width: 1px;
  background: #E0E0E0;
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;
